html {
  font-family: 'Reggae One', cursive;
  font-size: 20px;
  -webkit-text-stroke: 0.01px black;
  text-align: center;
  background-image: url("pictures/background.jpg");	
  background-size: cover;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  color: #fff;
  font-size: 25px;
}

table, img {  
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  margin: auto;
  position: sticky;
}

a:hover {
  transition: 0.5s;
  background-color: aliceblue;
  
}



/* ol{
  text-align: left;
} */
